/* 노말라이즈 시작 */
body,
ul,
li,
th,
td,
tr {
  margin: 0;
  padding: 0;
  list-style: none;
}

table {
  border-collapse: collapse;
}

/* 노말라이즈 끝 */

/* 라이브러리 시작 */
.m-t20 {
  margin-top: 20px;
}

.m-t50 {
  margin-top: 50px;
}

.m-b50 {
  margin-bottom: 50px;
}

.bg-c-g {
  background-color: f4f4f4;
}

/* 라이브러리 끝 */

/* 커스텀 시작 */
.p-titl-2 {
  font-size: 18px;
}

.p-text-1 {
  color: #4e4e4e;
  font-size: 16px;
  line-height: 150%;
}

.p-img-1>img {
  box-sizing: border-box;
  border: 0px;
  vertical-align: middle;
  display: block;
  max-width: 740px;
  width: 100%;
  height: auto;
}

.p-type-imgbox-2>.contentbox-2>ul>li {
  list-style-type: disc !important;
  margin-left: 20px;
  color: #4e4e4e;
}

.p-type-imgbox-3>.contentbox-3>.p-imglistbox-1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.p-type-imgbox-3>.contentbox-3>.p-imglistbox-1>.p-listimg-1 {
  margin-right: 20px;
  flex: 1;
}

.p-type-imgbox-3>.contentbox-3>.p-imglistbox-1>.p-listimg-1:last-of-type {
  margin-right: 0px;
}

.p-type-imgbox-3>.contentbox-3>.p-imglistbox-1>.p-listimg-1>.p-textbox {
  margin-top: -5px;
}

.p-type-imgbox-3>.contentbox-3>.p-imglistbox-1>.p-listimg-1>.p-textbox>h2 {
  color: #333;
  line-height: 110%;
}

.p-type-imgbox-3>.contentbox-3>.p-imglistbox-1>.p-listimg-1>.p-textbox>p {
  margin-top: -10px;
}

.product-upload-form {
  width: 100%;
  max-width: 740px;
  box-sizing: border-box;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.product-upload-form>#product-upload-form__linkbox {
  width: 100%;
  max-width: 740px;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-upload-form>.p-type-tablebox-1>table {
  border-collapse: collapse;
  width: 100%;
}

.product-upload-form>.p-type-tablebox-1>th,
td,
.product-upload-form>.p-type-tablebox-1>td,
th {
  padding: 3px 10px;
  font-size: 14px;
  border: 1px solid #dcdcdc !important;
  text-align: left;
}

.product-upload-form>.p-type-tablebox-2>table {
  border-collapse: collapse;
  width: 100%;
}

/* 모바일에서 가장 큰 가로 값 사이즈로 설정하기 */
@media (max-width: 500px) {
  .p-type-imgbox-3>.contentbox-3>.p-imglistbox-1>.p-listimg-1 {
    width: 100%;
    flex: none;
  }

  .product-upload-form h2 {
    font-size: 18px;
  }
}

.product-upload-form>.p-type-tablebox-2>table tbody tr:nth-child(even) {
  background-color: #f4f4f4 !important;
}

.product-upload-form>.p-type-tablebox-2>table tbody tr:nth-child(odd) {
  background-color: #dedede !important;
}

.product-upload-form>.p-type-tablebox-2>table tbody th,
td,
.product-upload-form>.p-type-tablebox-2>table tbody td,
th {
  padding: 10px 10px;
  font-size: 14px;
  text-align: left;
}

/* 커스텀 끝 */